<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <head>
        <link rel="stylesheet" href="/static/common/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/games/css/snake/snake-display.css" />
        <script src="/static/common/lib/jquery-1.11.0.js"></script>
        <script src="/static/common/lib/knockout-3.1.0.js"></script>
        <script src="/static/api/display-api.js"></script>
        <script src="/static/games/js/snake/snake-display.js"></script>
    </head>
    <body>
        <div id="countdown" data-bind="visible: countDown() > 0">Game starts in <span data-bind="text: countDown"></span> seconds.</div>
        <div id="playarea"></div>
    </body>
</html>
