body {
    background-color: #000000;
}

#playarea {
    display: block;
    border-color: #0F0F0F;
    border-style: solid;
    width: 1200px;
    height: 700px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #000000;
}

.block {
    position: absolute;
}

.fruit {
    background-color: #FF0000;
}

.type_1 {
    background-color: #FFFF00;
}

.type_2 {
    background-color: #FF00FF;
}

.type_3 {
    background-color: blue;
}

.type_4 {
    background-color: aqua;
}

.type_5 {
    background-color: green;
}

.type_6 {
    background-color: yellow;
}

.type_7 {
    background-color: #4B0082;
}

.type_8 {
    background-color: orange;
}

#countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
    color: red;
    z-index: 1;
}