<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/platform/css/login.css" />
        <script type="text/javascript">
            var CSRF_TOKEN = "{{ csrf_token }}";
        </script>
        <script src="/static/common/lib/jquery-1.11.0.js"></script>
        <script src="/static/common/lib/knockout-3.1.0.js"></script>
        <script src="/static/platform/js/login.js"></script>
    </head>
    <body>
        <div id="loader" data-bind="visible: loader"></div>
        <form>
            <input id="username" name="username" type="text" data-bind="value: username"/>
            <input id="password" name="password" type="password" data-bind="value: password"/>
            <input type="button" value="Login" data-bind="click: submit"/>
            <p data-bind="visible: errorMessage().length != 0, text: errorMessage"></p>
        </form>
    </body>
</html>
