<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/platform/css/portal.css" />
        <script type="text/javascript">
            var CSRF_TOKEN = "{{ csrf_token }}";
        </script>
        <script src="/static/common/lib/jquery-1.11.0.js"></script>
        <script src="/static/common/lib/knockout-3.1.0.js"></script>
        <script src="/static/common/lib/cookies.js"></script>
        <script src="/static/common/lib/socket.io-1.1.0.js"></script>
        <script src="/static/platform/js/socket-wrapper.js"></script>
        <script src="/static/platform/js/portal.js"></script>
    </head>
    <body>
        <div id="code-container">
            <p data-bind="text: server"></p>
            <p data-bind="text: code"></p>
        </div>
        <div id="loader" data-bind="visible: isLoading">
        </div>
        <p data-bind="visible: errorMessage().length != 0, text: errorMessage"></p>
        <iframe id='portalframe' data-bind="visible: isRegistered(), attr: { src: url }"></iframe>
    </body>
</html>
