<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/common/css/bootstrap.min.css">
        <script src="/static/common/lib/jquery-1.11.0.js"></script>
        <script src="/static/common/lib/knockout-3.1.0.js"></script>
        <script src="/static/api/controller-api.js"></script>
        <script src="/static/games/js/main/main-controller.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/games/css/main/main-controller.css" />
    </head>
    <body>
        <ul class="list-group" data-bind="foreach: games">
            <li class="list-group-item" data-bind="text: title, click: $parent.loadGame"></li>
        </ul>
    </body>
</html>
