<!DOCTYPE html>
<html>
    <head>
        <script src="/static/common/lib/jquery-1.11.0.js"></script>
        <script src="/static/common/lib/knockout-3.1.0.js"></script>
        <link rel="stylesheet" href="/static/common/css/bootstrap.min.css">
        <script src="/static/common/lib/bootstrap.min.js"></script>
        <script src="/static/api/display-api.js"></script>
        <script src="/static/games/js/main/main-display.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/games/css/main/main-display.css" />
    </head>
    <body>
        <div id="gameCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators" data-bind="foreach: games">
                <li data-target="#gameCarousel" data-bind="attr: {'data-slide-to': $index}, css: { active: $index() == 0 }"></li>
            </ol>

            <div class="carousel-inner" role="listbox" data-bind="foreach: games">
                <div class="item" data-bind="css: { active: $index() == 0 }">
                    <img data-bind="attr: { src: large_image_url }">
                    <div class="carousel-caption">
                        <h3 data-bind="text: title"></h3>
                        <p data-bind="text: description"></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
